.bgCo1{
  background-color: rgb(92,167,186);
}
.bgCo2{
  background-color: rgb(175,215,237);
}
.bgCo3{
  background-color: rgb(147,224,255);
}
.baCo4{
  background-color: rgb(255,66,93);
}
.bgCo5{
  background-color: rgb(199,237,233);
}
.bgCo6{
  background-color: rgb(237, 242, 245);
}
.bgCo7{
  background-color: rgb(251, 250, 243);
}
